html{
    scroll-behavior: smooth;
}
body{
    background: linear-gradient(45deg,red,lightblue,red);
    text-align: center;
}
h1{
    font-family: "Castellar",sans-serif;
    font-size: 40px;
}

h2{
    background: linear-gradient(45deg,red,black,gold);
    color: blue;
    padding: 20px;
    border-radius: 50%;
    width: 800px;
    margin:auto;
    box-shadow: 0 0 10px black;
}
table{
    width: 100%;
}
img{
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    margin:66px;
}
a{
    text-decoration: none;
    color:lightblue;
}
